* {
  margin: 0;
  padding: 0;
  z-index: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.hidden {
  display: none;
}

body {
  background-color: #0A0501;
  color: rgb(255, 222, 160);
  height: 200vh;
}
body .body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
body .body-container img.background-img {
  position: relative;
  width: 100vw;
  height: 70vh;
}
body .body-container div.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .body-container div.content-container h1 {
  position: absolute;
  top: 0;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #E7140A, 0 0 20px #E7140A, 0 0 30px #E7140A;
  font-size: 44px;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
body .body-container div.content-container div.select-containter {
  position: absolute;
  bottom: 10%;
}
body .body-container div.content-container div.select-containter h2 {
  color: rgb(255, 222, 160);
  padding: 20px;
  font-size: 34px;
}
body .body-container div.content-container div.select-containter div.select-spreader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .body-container div.content-container div.select-containter div.select-spreader select.select {
  margin-bottom: 20px;
  background-color: rgb(255, 222, 160);
  border-radius: 5px;
  border: 1px solid #6c6767;
  padding: 5px;
  font-size: 18px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
body .body-container div.content-container div.select-containter div.select-spreader .select option {
  background-color: #0e0c0c;
  color: rgb(255, 222, 160);
}
body .body-container div.content-container div.select-containter div.select-spreader .select option:hover {
  background-color: #6e2823;
}
body div.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
body div.main-info div.character-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 50px;
}
body div.main-info div.character-div div.char-div {
  padding: 40px 10px;
}
body div.main-info div.character-div div.char-div img {
  border-radius: 5px;
  box-shadow: 0 0 40px rgb(148, 28, 28);
  margin-bottom: 30px;
  width: 200px;
}
body div.main-info div.character-div div.char-div p {
  line-height: 34px;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(246, 235, 235, 0.5);
}
body div.main-info div.compare-div {
  padding: 15px;
  line-height: 30px;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(246, 235, 235, 0.5);
  max-width: inherit;
}
body div.main-info div.btn-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}
body div.main-info div.btn-div .button {
  background-color: #141010;
  color: #a92020;
  padding: 40px 40px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 30px;
  box-shadow: inset 0 0 10px rgb(168, 1, 1);
  font-size: 24px;
  min-width: 200px;
  max-width: 200px;
  min-height: 140px;
}

@media (min-width: 450px) and (max-width: 900px) {
  body .body-container div.content-container div.select-containter {
    bottom: 15%;
  }
  body div.main-info div.character-div {
    width: 100%;
    padding: 0px 0px;
    text-align: center;
  }
}
@media (min-width: 901px) {
  body .body-container img.background-img {
    height: 100vh;
  }
  body div.main-info {
    padding-top: 20px;
  }
  body div.main-info div.character-div {
    min-width: 100%;
    padding-bottom: 50px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */